$blond: 'FaktPro-Blond';
$blonditalic: 'FaktPro-BlondItalic';
$medium: 'FaktPro-Medium';
$mediumitalic: 'FaktPro-MediumItalic';
$normal: 'FaktPro-Normal';
$normalitalic: 'FaktPro-NormalItalic';
$semibold: 'FaktPro-SemiBold';
$thin: 'FaktPro-Thin';

$headers: #3c3f58;
$tekst: #6a6a76;
$light: #bcc1c9;
$blue-grey: #9c9cb0;
$backtekst: rgba(#9c9cb0, 0.11);
$border: #edecee;
