
@font-face {
  font-family: 'FaktPro-Normal';
  src: url('FaktPro-Normal.eot?#iefix') format('embedded-opentype'),  url('FaktPro-Normal.woff') format('woff'), url('FaktPro-Normal.ttf')  format('truetype'), url('FaktPro-Normal.svg#FaktPro-Normal') format('svg');
  font-weight: normal;
  font-style: normal;
}
