
@font-face {
  font-family: 'FaktPro-Thin';
  src: url('FaktPro-Thin.eot?#iefix') format('embedded-opentype'),  url('FaktPro-Thin.woff') format('woff'), url('FaktPro-Thin.ttf')  format('truetype'), url('FaktPro-Thin.svg#FaktPro-Thin') format('svg');
  font-weight: normal;
  font-style: normal;
}
