
@font-face {
  font-family: 'FaktPro-MediumItalic';
  src: url('FaktPro-MediumItalic.eot?#iefix') format('embedded-opentype'),  url('FaktPro-MediumItalic.woff') format('woff'), url('FaktPro-MediumItalic.ttf')  format('truetype'), url('FaktPro-MediumItalic.svg#FaktPro-MediumItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
