
@font-face {
  font-family: 'FaktPro-SemiBold';
  src: url('FaktPro-SemiBold.eot?#iefix') format('embedded-opentype'),  url('FaktPro-SemiBold.woff') format('woff'), url('FaktPro-SemiBold.ttf')  format('truetype'), url('FaktPro-SemiBold.svg#FaktPro-SemiBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
