
@font-face {
  font-family: 'FaktPro-NormalItalic';
  src: url('FaktPro-NormalItalic.eot?#iefix') format('embedded-opentype'),  url('FaktPro-NormalItalic.woff') format('woff'), url('FaktPro-NormalItalic.ttf')  format('truetype'), url('FaktPro-NormalItalic.svg#FaktPro-NormalItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
