
@font-face {
  font-family: 'FaktPro-Blond';
  src: url('FaktPro-Blond.eot?#iefix') format('embedded-opentype'),  url('FaktPro-Blond.woff') format('woff'), url('FaktPro-Blond.ttf')  format('truetype'), url('FaktPro-Blond.svg#FaktPro-Blond') format('svg');
  font-weight: normal;
  font-style: normal;
}
